<footer>
    <nav class="row-align">
        <a href="" class="column-align">
            <span>Groepsruimte</span>
            {% render "public/assets/icon.liquid" %}
        </a>     
        <a href="" class="column-align">
            <span>Dialogen</span>
            {% render "public/assets/icon.liquid" %}
        </a>     
        <a href="" class="column-align">
            <span>Docs</span>
            {% render "public/assets/icon.liquid" %}
        </a>    
        <a href="" class="column-align">
            <span>Zoeken</span>
            {% render "public/assets/icon.liquid" %}
        </a>     
        <a href="" class="column-align">
            <span>Favorieten</span>
            {% render "public/assets/icon.liquid" %}
        </a>                          
    </nav>
</footer>
