<option value="start"></option>
<option value="macarena_wenkbrauwen">Ik kan met mijn wenkbrauwen de Macarena doen.</option>
<option value="beroemdheid_genegeerd">Ik heb ooit per ongeluk een beroemdheid genegeerd omdat ik dacht dat het een collega was.</option>
<option value="pizza_rand_eerst">Ik eet altijd eerst de rand van een pizza en dan pas de binnenkant.</option>
<option value="droom_vuilnisman">Mijn droomberoep als kind was… vuilnisman.</option>
<option value="alfabet_achterstevoren">Ik heb een vreemd talent: ik kan het alfabet achterstevoren zeggen.</option>
<option value="verrassingsreis">Ik ben ooit op vakantie gegaan zonder te weten waar ik heen ging — het was een verrassingsreis.</option>
<option value="slapen_vervoer">Ik kan slapen in elke vorm van vervoer, zelfs op de bagagedrager van een fiets.</option>
<option value="geur_nieuwe_boeken">Mijn favoriete geur is… nieuwe boeken!</option>
<option value="verzameling_magneetjes">Ik heb een verzameling van meer dan 100 koelkastmagneetjes van landen waar ik (of vrienden) zijn geweest.</option>
<option value="oren_wiebelen">Ik kan met mijn oren wiebelen.</option>
<option value="prijs_zonder_weten">Ik heb ooit een prijs gewonnen zonder te weten dat ik had meegedaan.</option>
<option value="angst_badeenden">Ik heb een irrationele angst voor badeenden.</option>
<option value="bijnaam_GPS">Mijn bijnaam vroeger was ‘GPS’ omdat ik nooit verdwaal.</option>
<option value="liedje_snack">Ik heb ooit een liedje geschreven over… mijn favoriete snack.</option>
<option value="films_herkennen_muziek">Ik herken films aan alleen de filmmuziek.</option>
<option value="linkshandig_rechtshandig">Ik ben linkshandig, maar doe sommige dingen als een rechtshandige.</option>
<option value="onesie_weddenschap">Ik heb een keer een weddenschap verloren en moest een week in onesie naar school/werk.</option>
