<header>
    <input type="checkbox" id="menu-header">

    <nav class="main-header column-align">
        <!-- hamburger -->
        <div class="hamburger">
            <label for="menu-header" class="column-align">
                {% render "public/assets/menu.liquid" %}
                <span>Menu</span>
            </label>
        </div>

        <!-- logo -->
        <div class="logo">
            {% render "public/assets/hva-logo.liquid" %}
        </div>

        <!-- profile -->
        <div class="profile row-align">
            <img src="/assets/profile-pic.svg" alt="Profielfoto">
            {% render "public/assets/arrow-down.liquid" %}
        </div>
    </nav>


    <aside class="column-align">
        <a href="" class="">
            <span>HvA 2025</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Groepsruimte</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Prikbord</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Mensen</span>
            {% render "public/assets/icon.liquid" %}
            </a>    
        <a href="">
            <span>Agenda</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Dialogen</span>
            {% render "public/assets/icon.liquid" %}
            </a>   
        <a href="">
            <span>Docs</span>
            {% render "public/assets/icon.liquid" %}
            </a>     
        <a href="">
            <span>Album</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Uitnodigen</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Leden indelen</span>
            {% render "public/assets/icon.liquid" %}
            </a>  
        <a href="">
            <span>Bibliotheek</span>
            {% render "public/assets/icon.liquid" %}
            </a>    
        <a href="">
            <span>Instellingen</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Catalogus</span>
            {% render "public/assets/icon.liquid" %}
            </a>   
        <a href="">
            <span>Mijn catalogus</span>
            {% render "public/assets/icon.liquid" %}
            </a>  
        <a href="">
            <span>Mijn berichten</span>
            {% render "public/assets/icon.liquid" %}
        </a>                                                                             
    </aside>
</header>