<header>
    <!-- hamburger -->
    <div class="hamburger">
         <a href="">
            <span>Menu</span>
            {% render "public/assets/menu.liquid" %}
        </a>   
    </div>

    <!-- logo -->
    <div class="logo">
        {% render "public/assets/hva-logo.liquid" %}
    </div>

    <!-- profile -->
    <div class="profile">
        {% render "public/assets/profile-pic.liquid" %}
        {% render "public/assets/arrow-down.liquid" %}
    </div>

    <aside>
        <a href="">
            <span>HvA 2025</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Groepsruimte</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Prikbord</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Mensen</span>
            {% render "public/assets/icon.liquid" %}
            </a>    
        <a href="">
            <span>Agenda</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Dialogen</span>
            {% render "public/assets/icon.liquid" %}
            </a>   
        <a href="">
            <span>Docs</span>
            {% render "public/assets/icon.liquid" %}
            </a>     
        <a href="">
            <span>Album</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Uitnodigen</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Leden indelen</span>
            {% render "public/assets/icon.liquid" %}
            </a>  
        <a href="">
            <span>Bibliotheek</span>
            {% render "public/assets/icon.liquid" %}
            </a>    
        <a href="">
            <span>Instellingen</span>
            {% render "public/assets/icon.liquid" %}
        </a>
        <a href="">
            <span>Catalogus</span>
            {% render "public/assets/icon.liquid" %}
            </a>   
        <a href="">
            <span>Mijn catalogus</span>
            {% render "public/assets/icon.liquid" %}
            </a>  
        <a href="">
            <span>Mijn berichten</span>
            {% render "public/assets/icon.liquid" %}
        </a>                                                                             
    </aside>

    <nav>
        <a href="">
            <span>Menu</span>
            {% render "public/assets/icon.liquid" %}
        </a> 
        <a href="">
            <span>Groepsruimte</span>
            {% render "public/assets/icon.liquid" %}
        </a>     
        <a href="">
            <span>Dialogen</span>
            {% render "public/assets/icon.liquid" %}
        </a>     
        <a href="">
            <span>Docs</span>
            {% render "public/assets/icon.liquid" %}
        </a>    
        <a href="">
            <span>Zoeken</span>
            {% render "public/assets/icon.liquid" %}
        </a>     
        <a href="">
            <span>Favorieten</span>
            {% render "public/assets/icon.liquid" %}
        </a>                          
    </nav>
</header>