html {
    interpolate-size: allow-keywords;
}

.main-game {
    --shadow: #cfcfcf;
    --radius: 8px; 
    --padding: 1rem 2rem;
    align-items: start;
    gap: 2rem;
    padding: var(--padding);
    transition: .3s ease-out;

    .introduction {
        gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .main-game {
        translate: 280px 0;
    }
}

.members {
    gap: 2rem;
}

.game-form {
    gap: 2rem;
}

.game-form ul {
    width: 70vw;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 4rem;

    @media (max-width: 570px) {
        gap: 6rem;
    }
}

.game-play button {
    align-items: center;
    gap: .5rem;
}

.game-form.loading .form-submit.game-play button::before {
    content: "Laden";
}

.game-form.loading .form-submit.game-play button::after {
    content: url("/assets/loading.svg");
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    animation: rotation 1.6s ease-in-out infinite;
}

.game-form.loading .form-submit.game-play button span {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.member-select {
    position: relative; 
    border-radius: var(--radius);
    background-color: var(--bg-tertiary);
    filter: drop-shadow(0px 5px 5px var(--shadow));
    width: 80vw;
    max-width: 25rem;
}

.member-select label {
    padding-left: 1rem;
}

.member-select label span {
    position: absolute; 
    bottom: .5rem;
    cursor: pointer;
    z-index: -1;
}

.member-info { 
    gap: 1rem;
    overflow: hidden;
    border-radius: var(--radius);

    background-color: var(--bg-tertiary);
    filter: drop-shadow(0px 5px 5px var(--shadow));

    h3 {
        order: 1;
    }
    img {
        order: 0;
    }
}

select {
    display: block; 
    width: 80vw;
    max-width: 25rem;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
    /* width: 100%; */
    height: 2rem;
    border-radius: var(--radius);
    border: none;
    padding: 0 1rem;
}

::picker(select) {
    position-area: bottom; 
    margin-top: .5rem;
    border-radius: var(--radius);
    border: none;

    height: 0;
    min-height: 0;
    transition: 
        height 0.3s, 
        /* om te kunnen animeren van display none naar block */
        display 0.3s allow-discrete,
        /* om te kunnen animeren naar de top-layer */
        overlay 0.3s allow-discrete;
        overflow:clip;
        position-try-fallbacks: unset;

    padding: .5rem 1rem;
    overflow-y: auto; 
    width: 80vw;
    max-width: 25rem;
    background-color: var(--bg-tertiary);
    filter: drop-shadow(0px 5px 5px var(--shadow));
}

/* SELECT & PICKERS */
select, ::picker(select) {
    appearance: base-select;
}

/* SELECTED CONTENT */
selectedcontent {
    background-color: var(--highlight-primary);
    border-radius: 1rem;
    /* margin-bottom: .5rem; */
    overflow-wrap: break-word;
    white-space: normal;
    padding: .5rem;
    
    @media (max-width: 570px) {
        position: absolute;      
        bottom: 0;
        left: 0;
        translate: 0 100%;
        z-index: 0;
    }

    @media (min-width: 570px) {
        position: absolute;
        top: 0;
        right: 0;
        translate: 30% -50%;
        z-index: 99;
    }
}
  
/* PICKER icon */
::picker-icon {
    content:"";
    width: .75em;
    height: .75em;
    background-color: var(--highlight-primary);
    clip-path: polygon(0 .1em, 100% .1em, 50% 100%, 0 .1em);
    transition: .3s;
}
  
/* SELECT OPTION */
select option {
    width: 100%;
    background-color: var(--highlight-primary);
    border-radius: 1rem;
    margin-bottom: .5rem;
    overflow-wrap: break-word;
    white-space: normal;
}

/* SELECT open */
/* PICKER */
select:open::picker(select) {
    height: auto;	

    @starting-style {
        height: 0;
    }
}

/* PICKER ICON */
select:open::picker-icon {
    rotate: x 180deg;
}

/* OPTION */
select:open option {
    @media (prefers-reduced-motion:no-preference) {
        transition:
        opacity .5s calc( (sibling-index() - 1) * .075s ),
        translate 1s calc( (sibling-index() - 1) * .075s );
    }

    @starting-style {
        opacity: 0;
        translate: -100% 0%;
    }  

    &:first-of-type {
        display: none; 
    }
}

@media (min-width: 1200px) {
    ::picker(select) {
        translate: 280px 0;
    }
}

