.main-game-start {
    --padding: 1rem 2rem;
    align-items: start;
    gap: 2rem;
    padding: var(--padding);
    transition: .3s ease-out;

    .introduction {
        gap: 1rem;

        .slogan {
            font-weight: var(--font-bold);
        }
    }
}

@media (min-width: 1200px) {
    .main-game-start {
        transform: translate(280px, 0);
    }
}