.main-index {
    --padding: 1rem 2rem;
    align-items: start;
    gap: 2rem;
    padding: var(--padding);
    transition: .3s ease-out;
}

.main-index a {
    color: var(--highlight-primary);
    transition: .2s ease-out; 

    &:hover {
        color: var(--bg-primary);
    }
}

@media (min-width: 1200px) {
    .main-index {
        translate: 280px 0;
    }
}