.main-profile {
    --padding: 1rem 2rem;
    align-items: start;
    gap: 2rem;
    padding: var(--padding);
    transition: .3s ease-out;
}

.profile-form {
    gap: 2rem;
}

.name-input {
    display: block; 
}

.funfact-input textarea {
    display: block; 
}

@media (min-width: 1200px) {
    .main-profile {
        translate: 280px 0;
    }
}