{% assign pageTitle = "Error | LearningStone" %}
{% include "partials/head.liquid" %}

<main class="main-error">
    <section class="error-introduction column-align">
        <h1>404 Error</h1>
        <p>Het lijkt erop dat je een pagina probeert te bezoeken die (nog) niet bestaat.</p>
        <p>Zie onderstaande, werkende pagina's. Begin bij <a href="/profile">/profile</a></p>

        <ul>
            <li><a href="/profile">/profile</a></li>
            <li><a href="/game-start">/game-start</a></li>
            <li><a href="/game">/game</a></li>
        </ul>
    </section>
</main>

{% include "partials/foot.liquid" %}