{% assign pageTitle = " Game | LearningStone" %}
{% include "partials/head.liquid" %}

<main class="main-game-start">
    <div class="introduction">
        <h1>[NAAM SPEL]</h1>
        <p>Leer je groep kennen</p>
        <p>Voorafgaand aan de cursus krijg je de kans om je mededeelnemers beter te leren kennen via een korte kennismakingsactiviteit. Elk lid deelt bij het aanmaken van het profiel een leuke of onverwachte funfact over zichzelf. Aan jou de uitdaging: kun jij de juiste funfact aan de juiste persoon koppelen?</p>
        <p>Een speelse start die zorgt voor verbinding, herkenning én een goede basis voor samenwerking.</p>
    </div>
    <div class="link">
        <a href="/game">Start</a>
    </div>
</main>

{% include "partials/foot.liquid" %}