{% assign pageTitle = "Home | LearningStone" %}
{% include "partials/head.liquid" %}

<main class="main-index column-align" id="main-content">
    <section class="introduction-profile">
        <h1>LearningStone</h1>
        <p>Zie onderstaande pagina's. Begin bij <a href="/profile">/profile</a></p>

        <ul>
            <li><a href="/profile">/profile</a></li>
            <li><a href="/game/start">/game/start</a></li>
            <li><a href="/game/play">/game/play</a></li>
            <li><a href="/game/results">/game/results</a></li>
            <li><a href="/notice-board">/notice-board</a></li>
        </ul>
    </section>
</main>

{% include "partials/foot.liquid" %}